xml/tvschedule.xml

<!ELEMENT TVSCHEDULE (channel+)>
<!ELEMENT channel (banner, day+)>

<!ELEMENT banner (#PCDATA)>

<!ELEMENT day (date, (holiday | programslot)+)>

<!ELEMENT date (#PCDATA)>

<!ELEMENT holiday (#PCDATA)>

<!ELEMENT programslot (Time, Title, Description?)>

<!ELEMENT Time (#PCDATA)>

<!ELEMENT Title (#PCDATA)>

<!ELEMENT Description (#PCDATA)>


<!ATTLIST TVSCHEDULE Name CDATA #REQUIRED>
<!ATTLIST channel Chan CDATA #REQUIRED>
<!ATTLIST programslot Vtr CDATA #IMPLIED>
<!ATTLIST Title Rating CDATA #IMPLIED
                 Language CDATA #IMPLIED>
